h1 {
justify-content: center;
align-items: center;
text-align: center;
}
section{
text-align: center;
}
#options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:gray;
    height: 50px;
    border-radius:10px 10px 10px 10px;
  }
  
#options > * {

    margin-right: 5px;
}